.DS_Store
# Ignore Word temp and backup files
~$*.docx
*.docx
# 忽略 Xcode 用户界面状态
**/xcuserdata/
echo "*.xcuserstate" >> .gitignore
echo "Speech2Text.xcodeproj/project.xcworkspace/xcuserdata/" >> .gitignore
